*{
	padding: 0px;
	margin: 0px;
	font-family: tahoma;
	overflow-x: hidden;
}
/* Carga local de fuentes */
@font-face{
	font-family: dekar;
	src: url("../fonts/Dekar.otf"),
	     url("../fonts/Dekar Light.otf");
}

@font-face{
	font-family: tahoma;
	src: url("../fonts/tahoma.ttf"),
	     url("../fonts/tahomabd.ttf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7n85ju');
  src:  url('../fonts/icomoon.eot?7n85ju#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7n85ju') format('truetype'),
    url('../fonts/icomoon.woff?7n85ju') format('woff'),
    url('../fonts/icomoon.svg?7n85ju#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}

/* Clases globales */
.absolute{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
}

.relative{
	position: relative;
	width: 100%;
	height: auto;
}

.green{
	color: #66ff00;
	font-size: 35px;
	font-weight: 300;
    line-height: 50px;
}

.small{ font-size: 25px; }

.center{
	text-align: center;
	align-items: center;
	align-content: center;
}

.limit{
	width: auto;
}

body{ background-color: #0b0b0b; }

/* Menu */
header{
	width: 100%;
	height: auto;
	z-index: 10;
	overflow: hidden;
}

header img{
	padding: 20px;
	transform: scale(1.1);
}

header span{
	font-size: 40px;
	color: white;
	z-index: ;
}

nav{
	float: right;
	padding: 50px;
}

nav ul li{
	display: inline-flex;
	padding-left: 15px;
	padding-right: 15px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: dekar;
	transition-duration: .6s;
	border-bottom: 1px solid transparent;
}

nav ul li:hover a{
	color: #66ff00;
	transition-duration: .3s;
	border-bottom: 1px solid #66ff00;
}

.menu_button{
	position: absolute;
	top: 25px;
	left: 85%;
	width: auto;
	height: auto;
	padding: 5px;
	display: none;
	justify-content: flex-end;
	cursor: pointer;
	z-index: 3;
	border-radius: 50%;
}

/* Seccion 1 */
.encabezado{
	position: relative;
	width: 100%;
	height: 700px;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-image: url(../imagenes/page_presentation.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.title_header{
	top: 50%;
	left: center;
}

.icon_header{ top: 85%; }

.encabezado h1{
	color: #66ff00;
	font-size: 35px;
	font-weight: 300;
    line-height: 50px;
}

.encabezado h2{
	color: #fff;
	font-size: 23px;
	font-weight: 300;
}

/* Seccion 2 */
.container_1{
	width: 100%;
	height: auto;
	position: relative;
}

.align_title_1{
	top: 15%;
	z-index: -1;
	margin-top: 110px;
}

.master_box{
	position: relative;
	top: 30%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.box{
	width: 350px;
	height: 300px;
	border: 0px solid #66ff00;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
}

.box p{
	padding: 15px;
}

/* Seccion 3 */
.planes{
	position: relative;
	width: 100%;
	height: 650px;
	top: 0px;
	left: 0px;
	z-index: -10;
	overflow: hidden;
	background-image: url(../imagenes/all_displays.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.align_title_2{
	width: 80%;
	top: 60px;
	margin-left: 10%;
	z-index: 2;
}

.align_text{
	width: 50%;
	top: 130px;
	margin-left: 10%;
}

.descripcion{
    color: white;
    font-size: 22px;
}

.align_list{
	width: 50%;
	top: 45%;
	margin-left: 10%;
}

.list{
	color: white;
	font-size: 20px;
}

.list li:before{ content: url(../imagenes/icon_check.png)' '; }

.align_price{
	width: auto;
	top: 20%;
	left: 75%;
	text-align: center;
}

.descripcion_price{
	color: white;
	font-size: 22px;
}

.align_button{
	display: flex;
	width: 85%;
	justify-content: flex-end;
	top: 70%;
}

.button{
	width: 170px;
	background-color: #66ff00;
	padding: 8px;
	color: black;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

/* Seccion 4 */
.container_2{
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.align_title_3{
	width: 100%;
	top: 30%;
	z-index: -1;
}

.descripcion_slogan{
	font-size: 25px;
	color: white;
	margin-top: 30px;
}

/* Seccion 5 */
.contacto{
	position: relative;
	width: 100%;
	height: 750px;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-image: url(../imagenes/team_work.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.align_redimension{ 
	width: auto; padding-right: 10px; 
}

.align_correction{ top: 130px; }

.align_form{
	width: 50%;
	top: 30%;
	margin-left: 10%;
}

form{ width: 100%; }

form label{
	display: block;
	color: #66ff00;
	font-size: 20px;
}

form input, textarea{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 25px;
	background: none;
	color: white;
	font-size: 17px;
	border: none;
	border-bottom: 2px solid #66ff00;
}

textarea{
	height: 60px;
	max-width: 100%;
	max-height: 60px;
	min-width: 100%;
	min-height: 60px;
}

.send_button{
	border:none;
	background:none;
	cursor: pointer;
	overflow: hidden;
}

.send_button img{ transform: scale(.5); }

.use_chat{
	width: auto;
	height: auto;
	top: 45%;
	left: 75%;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.use_chat p{
	color: white;
	font-size: 17px;
}

.use_chat a{ text-decoration: none; }

/* Footer */
footer{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #66ff00;
	color: white;
}

footer span{
	font-size: 30px;
	margin-right: 20px;
	transition: 1s;
}

footer span:hover{
	color: #66ff00;
	transition: .2s;
}

.boxing{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.boxing div{
    width: 300px;
    height: auto;
    margin-top: 40px;
    padding: 20px;
}

.boxing div img{
	margin-right: 20px;
	margin-bottom: 20px;
}

.boxing div a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.boxing div ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.img_icon{
    margin-top: 20px;
}

.legend{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #66ff00;
	margin-top: 30px;
}

.legend p{
	margin-top: 38px;
	color: #0b0b0b;
	font-size: 20px;
	font-weight: 600;
	font-family: dekar;
}
/* Responsive Design 1024 */
@media screen and (max-width: 1024px) {
	body {
		
	}
	.limit {
		max-width: 1024px;
	}
    .box{
    	width: 250px;
	    height: 300px;
    }
    .box img {
        width: 80px;
        height: auto;
    }
    .box p{
    	font-size: 1em;
    }
    .small {
    	font-size: 1.4em;
    }
    .descripcion {
    	font-size: 1em;
    }
    .align_form{
    	max-width: 100%;
    }
}

/* Responsive Design 750 */
@media screen and (max-width: 750px) {
    .menu_responsive{
        background-color: #000;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 2;
        transition: .5s;
    }
    .active{
    	left: 0;
    	transition: .5s;
    }
    .fijar{
        position: fixed;
        color: #66ff00;
    }
    .planes, .contacto{
    	background-position: center;
    }
    header img{
    	transform: scale(.7);
    	padding-left: 0;
    }
    nav ul li{
    	display: flex;
    	justify-content: center;
    }
    nav ul{
    	position: relative;
    	top: 20%;
    }
    nav ul li a{
    	font-size: 30px;
    	margin-top: 5%;
    	margin-bottom: 5%;
    }
    .menu_button{
    	display: flex;
    }
    .green{
    	font-size: 25px;
    }
    .title_header h1{
    	font-size: 25px;
    }
    .title_header h2{
    	font-size: 17px;
    }
    .descripcion_slogan{
    	font-size: 1em;
    }
    .align_title_1{
    	margin-bottom: 70px;
    }
    .align_text{
    	width: 80%;
    }
    .align_price{
    	display: none;
    }
    .align_list{
    	top: 230px;
    	width: 80%;
    }
    .list{
    	font-size: 15px;
    }
    .use_chat{
    	display: none;
    }
    .align_form{
    	max-width: 80%;
    	width: 80%;
    }
    form label{
    	font-size: 16px;
    }
    .align_button{
    	width: 100%;
    	top: 530px;
    	justify-content: center;
    }
    .master_box{
    	flex-wrap: wrap;
    }
    .box{
    	width: 100%;
    	margin: 0;
    	padding: 0;
    	height: 200px;
    }
    .boxing{
    	flex-wrap: wrap;
    }
    .boxing div{
    	width: 100%;
    	text-align: center;
    	padding: 15px;
    }
    .legend p{
    	font-size: 17px;
    }
}

/* Responsive Design 500 */
@media screen and (max-width: 500px){
    header img{
    	position: absolute;
    	left: -20px;
    }
    .menu_button{
    	left: 80%;
    }
    .title_header h1{
    	font-size: 25px; 
    }
    .title_header h2{
    	font-size: 14px;
    	padding: 5px;
    }
    .container_1{
    	padding-bottom: 30px;
    }
    .transform{
    	transform: scale(.6);
    }
    .green{
    	font-size: 23px;
    }
    .descripcion_slogan{
    	padding: 10px;
    }
    .list{
    	font-size: 12px;
    }
    .legend p{
    	font-size: 15px;
    	padding-left: 10px;
    	padding-right: 10px; 
    }
    .encabezado, .planes, .contacto{
    	background-position: 100%;
    }
}

/* Carga de imagenes retina x2 */
@media screen and (-webkit-min-device-pixel-ratio: 2){
    .encabezado{
    	background-image: url(../imagenes/page_presentation2x.png);
    }
    .planes{
    	background-image: url(../imagenes/all_displays2x.png);
    }
    .contacto{
    	background-image: url(../imagenes/team_work2x.png);
    }
    img{
    	width: 50%;
    	height: auto;
    }
    header img{
    	width: 15em;
    	position: absolute;
    	padding: 6%;
    }
    nav{
    	width: auto;left: auto;
    }
    .icon_header img{
    	width: 5em;
    }
}